* {
    outline: 1px solid green;
}

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

.logo {
    display: block;
    float: left;
    margin-top: -25px;
}

.menu {
    width: 100%;
    height: 20px;
    background: white;
    padding: 20px 0px 50px 50px;
    position: fixed;
}

.menu-nubank {
    max-width: 100%;
    float: left;
}

.menu-nubank li {
    margin-top: 10px;
    display: inline-block;
}

.menu-nubank a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 33px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.login li {
    display: inline-block;
    margin-top: 28px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 70px;
    margin-top: 10px;
}

.login {
    float: right;
}

.login a {
    text-decoration: none;
    color: #820ad1;
}

img {
    height: 100px;
}

/** Inicio da imagem apos o topo */
    .imagem {
        background: url('/Site_Nubank/images/backgorund.jpg') no-repeat center center;
        background-size: cover;
        height: 865px;
    }

    .imagem h1 {
        padding: 350px 0 0 0;
        margin-left: 220px;
        font-family: 'Nanum Gothic', sans-serif;
        color: white;
        /*? Video 7:37 */
    }

    .imagem h2 {
        margin-left: 220px;
        font-family: 'Nanum Gothic', sans-serif;
    }
/*! Final da imagem apos o topo */